// *** Colors ***

$color-white: #fff;
$color-white-light: #f1f1f1;

$color-black: #000;
$color-black-light: #222;

$color-orangered-primary: orangered;
$color-orangered-secondary: #ffbf88;
$color-orangered-tertiary: #aa370c;

$color-orange-primary: orange;

$color-blue-primary: rgba(151, 207, 253, 0.646);
$color-blue-secondary: steelblue;
$color-blue-tertiary: rgb(41, 93, 136);
$color-blue-quaternary: rgb(38, 151, 243);

// $color-grey-primary: ;

$color-green-primary: green;
$color-green-secondary: #0a5d0a;
$color-green-tertiary: #063806;
